.modal-dialog {
  border: none;

  .modal-header {
    background-color: @brand-primary;
    color: white;
  }

  .modal-content {
    border: none;
  }

  .modal-body {
    padding: calc(@modal-inner-padding * 2px) @modal-inner-padding;
  }
}