#app > nav.navbar {
  min-height: 100px;
  height: auto;
  margin-bottom: 35px;

  div.navbar-header {
    height: 100px;
    padding: 10px 0;
    margin-right: 30px;
  }

  a.navbar-brand {
    height: 80px;
    padding: 20px 15px;
    animation-name: logo;
    animation-duration: 20s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;

    img {
      max-height: 100%;
    }
  }

  div.navbar-collapse {
    transition: transform .4s ease;
  }

  ul.navbar-nav {
    padding: 38px 0 0 0;

    li {

      a {
        line-height: 24px;
        font-size: 18px;
        background-color: transparent;
        margin-right: 15px;
        padding: 5px 8px;
        transition: all .4s ease;

        &:hover {
          color: @brand-primary;
        }
      }
    }

    ul.dropdown-menu {

      li {

        a {
          margin-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: @grid-float-breakpoint-max) {
    div.navbar-header {
      margin-right: 0;

      .navbar-toggle {
        margin-top: 25px;
        margin-right: 0;
        border: 1px solid transparent;
        transition: all .4s ease;

        .icon-bar {
          position: relative;
          transition: all .4s ease;
        }

        &:hover,
        &:focus {
          background-color: @brand-primary;

          .icon-bar {
            background-color: @white;
          }

          .icon-bar:nth-child(2) {
            top: 6px;
            transform: rotate(45deg);
          }
          .icon-bar:nth-child(4) {
            top: -6px;
            transform: rotate(-45deg);
          }
          .icon-bar:nth-child(3) {
            opacity: 0;
          }
        }
      }
    }

    div.navbar-collapse.collapse.in,
    div.navbar-collapse.collapsing {
      background-color: @white;
      border-bottom: none;
      padding: 0;

      ul.nav.navbar-nav {
        margin: 0;
        padding: 0;
        text-align: center;

        li {

          a {
            padding: 15px;
            margin-right: 0;
            text-transform: uppercase;
            border-bottom: 1px solid @laravel-border-color;
            transition: all .4s ease;

            &:hover,
            &:focus {
              background-color: @laravel-border-color;
              color: black;
            }
          }

          &.dropdown.open {
            ul.dropdown-menu {
              padding: 0;

              li {
                a {
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}